# Fichiers de secrets Kubernetes
*-secret.yaml
redis-secret.yaml
postgresql-secret.yaml
baserow-secret.yaml

# Fichiers d'environnement
.env.prod
.env.staging
.env.local
.env
*secrets-clear.yaml

# Fichiers système
.DS_Store
Thumbs.db

node_modules/

# Fichiers de logs
*.log

# Fichiers temporaires
*.tmp
*.temp
*~

# Fichiers de sauvegarde
*.bak
*.backup

# Dossiers Kubernetes locaux
.kube/
kubeconfig


# scaleway
/environments/*/kubeconfig-k8s-productivity*.yaml

.idea/
.aider*

chatGPT/

make/
