---
# environments/local/kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Base des manifestes communs
resources:
  - ../../base
  # Inclure le SealedSecret pour les secrets specifiques a local
  - secrets-local.yaml

# Définir le namespace pour cet environnement
namespace: default

# Patches pour les configurations spécifiques à l'environnement local
patches:
  - patch: |
      - op: replace
        path: /metadata/name
        value: apps-ingress-local
      - op: add
        path: /metadata/annotations
        value:
          cert-manager.io/cluster-issuer: selfsigned-issuer
          nginx.ingress.kubernetes.io/ssl-redirect: "false"
      - op: add
        path: /spec/rules/0/host
        value: baserow.local
      - op: add
        path: /spec/rules/1/host
        value: n8n.local
      - op: add
        path: /spec/tls
        value:
          - hosts:
              - baserow.local
              - n8n.local
            secretName: apps-tls-local-cert
    target:
      kind: Ingress
      name: apps-ingress  # Cible l'Ingress de base

configMapGenerator:
  - name: app-config
    literals:
      # Variables non sensibles spécifiques à local (basé sur sample.env)
      # Variables non sensibles spécifiques à prod (basé sur sample.env)
      - POSTGRES_USER=postgres
      - N8N_DB_NAME=n8n_db
      - N8N_DB_USER=n8n_user
      - BASEROW_DB_NAME=baserow_db
      - BASEROW_DB_USER=baserow_user
      - BASEROW_DOMAIN=baserow.local
      - N8N_DOMAIN=n8n.local
      - WEBHOOK_URL=https://n8n.local
      - CERT_MANAGER_LOCAL_ISSUER=selfsigned-issuer  # Inclure pour cohérence si référencé dans base
      - CERT_MANAGER_PROD_ISSUER=letsencrypt-prod
      - SSL_REDIRECT=false  # Redirection SSL activée pour prod
      - FORCE_SSL_REDIRECT=false
      - CERT_MANAGER_EMAIL=hello@maxime-lenne.fr
      - PROD_DOMAIN=maxime-lenne.fr  # Domaine racine pour référence
      - STAGING_DOMAIN=staging.maxime-lenne.fr  # Inclure pour cohérence si référencé dans base
      # L'email et les domaines prod/staging ne sont généralement pas pertinents pour local

# Ici, nous ajouterons plus tard des patches ou des générateurs
#   pour les configurations spécifiques à l'environnement local,
#   comme les variables d'environnement, les limites de ressources, etc.
# patches:
#   - patch.yaml
# configMapGenerator:
#   - name: local-env-vars
#     literals:
#       - KEY=value
# secretGenerator:
#   - name: local-secrets
#     literals:
#       - SECRET_KEY=supersecret
